@page "/apiusers"
@rendermode InteractiveServer

<h3>APIRequest</h3>

<button @onclick="FetchDataFromAllUsers">Get all users</button>


@if (users != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Company name</th>
                <th>Catch phrase</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.ID</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Address.Street</td>
                    <td>@user.Address.City</td>
                    <td>@user.Address.ZipCode</td>
                    <td>@user.Company.Name</td>
                    <td>@user.Company.CatchPhrase</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    public List<User> users = new List<User>();

    public HttpClient httpClient = new HttpClient();

    public async Task FetchDataFromAllUsers()
    {
        users = await httpClient.GetFromJsonAsync<List<User>>("https://jsonplaceholder.typicode.com/users");

    }


}