@page "/users"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>@PageTitle</PageTitle>

<h1>@PageTitle</h1>

@if (_users == null)
{
    <p><em>Fetching users...</em></p>
}
else
{
    //Är det viktigt att det inte stannar på some users ordered by name/ID etc (nu återgår det till att visa 30 st varje gång)

    <button @onclick="DisplayAllUsers">Show all registered users</button>

    <button @onclick="DisplaySomeUsers">Show selection of registered users</button>

    <button @onclick="DisplayUsersOrderedByName">Order by name</button>

    <button @onclick="DisplayUsersOrderedByID">Order by ID</button>

    <button @onclick="DisplayUsersOrderedByCompanyName">Order by company name</button>

    <button @onclick="DisplayUsersOrderedByCity">Order by city</button>

    <input @bind-value="SearchText" @bind-value:event="oninput" placeholder="Search user name"/>

    @if (SearchText != String.Empty)
    {
        DisplayUserNameFilteredBySearch(SearchText);
    } 


    @*
    <input @bind-value="SearchText" @bind-value:event="oninput" placeholder="Search ID-number" />
    @if (SearchText != String.Empty)
    {
        GetUsersFilteredBySearchInt(SearchText);
    }*@



    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Company name</th>
                <th>Catch phrase</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.ID</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Address.Street</td>
                    <td>@user.Address.City</td>                    
                    <td>@user.Address.ZipCode</td>
                    <td>@user.Company.Name</td>
                    <td>@user.Company.CatchPhrase</td>
                </tr>
            }
        </tbody>
    </table> 
}
