@page "/users"
@rendermode InteractiveServer

<PageTitle>Users</PageTitle>


<h3>Users</h3>

@if (_users == null)
{
    <p><em>Fetching users...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.ID</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Address.Street</td>
                    <td>@user.Address.ZipCode</td>                    
                    <td>@user.Address.City</td>
                    <td>@user.Company.CompanyName</td>
                    <td>@user.Company.CatchPhrase</td>
                </tr>
            }
        </tbody>
    </table>
}

