@page "/users"
@rendermode InteractiveServer

<PageTitle>@PageTitle</PageTitle>

<h1>@PageTitle</h1>

@if (_users == null)
{
    <p><em>Fetching users...</em></p>
}
else
{
    <button class="btn btn-dark" style="margin: 2px;" @onclick="DisplayAllUsers">Show all users</button>

    <button class="btn btn-dark" style="margin: 2px;" @onclick="DisplayFirstFiveUsersOrderedByName">Show five users</button>

    <button class="btn btn-dark" style="margin: 2px;" @onclick="DisplayUsersOrderedByName">Order by name</button>

    <button class="btn btn-dark" style="margin: 2px;" @onclick="DisplayUsersOrderedByID">Order by ID</button>

    <button class="btn btn-dark" style="margin: 2px;" @onclick="DisplayUsersOrderedByCompanyName">Order by company name</button>

    <button class="btn btn-dark" style="margin: 2px;" @onclick="DisplayUsersOrderedByCity">Order by city</button>

    <br /><input @bind-value="SearchText" style="margin: 3px;" @bind-value:event="oninput" placeholder="Search user name"/>

    @if (SearchText != String.Empty)
    {
        DisplayUserNameFilteredBySearch(SearchText);
    }

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Company name</th>
                <th>Catch phrase</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.ID</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Address.Street</td>
                    <td>@user.Address.City</td>                    
                    <td>@user.Address.ZipCode</td>
                    <td>@user.Company.Name</td>
                    <td>@user.Company.CatchPhrase</td>
                </tr>
            }
        </tbody>
    </table> 
}
